[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd/ccbasic"]
	path = 3rd/ccbasic
	url = https://github.com/owen200008/ccbasic.git
