################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/build
/dll/kernel/backup
/skynetplusexe.dir/Debug
/Win32/Debug/ZERO_CHECK
