[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/ccbasic"]
	path = 3rd/ccbasic
	url = https://github.com/owen200008/ccbasic.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "3rd/hiredis"]
	path = 3rd/hiredis
	url = https://github.com/redis/hiredis.git
